.bookshelf {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    position: relative;
}

.bookshelf_title {
    text-align: center;
    color: #213547;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: aliceblue;
    border: 1px solid orange;
    border-radius: 8px;
    width: 95%;
}

.bookshelf_row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.bookshelf_card {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
}

.bookshelf_card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.bookshelf_card img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 15px;
}

.book_info {
    text-align: left;
    margin-bottom: 15px;
}

.book_info p {
    font-size: 1rem;
    color: #213547;
    margin: 5px 0;
}

.book_price, .book_trade {
    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(57, 139, 217);
}

.adButton {
    background: orange;
    color: aliceblue;
    border: 1px solid rgb(57, 139, 217);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease-in-out, transform 0.2s;
    width: 100%;
    margin-top: 10px;
}

.updateButton {
    background: f9f9f9;
    color: orange;
    border: 1px solid rgb(57, 139, 217);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease-in-out, transform 0.2s;
    width: 100%;
    margin-top: 10px;
}

.adButton:hover, .updateButton:hover, .bookshelf_container > button:hover {
    background: rgb(57, 139, 217);
    transform: scale(1.05);
}

.removeButton {
    color: red;
    cursor: pointer;
    transition: transform 0.2s;
}

.removeButton:hover {
    transform: scale(1.2);
}

.addBook_button {
    color: aliceblue;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 15px 30px;
    font-size: 1.2rem;
}

.addBook_button:hover {
    transform: scale(1.2);
}

/* Responsive Tasarım */
@media (max-width: 1024px) {
    .bookshelf_card {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .bookshelf_card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .bookshelf_row {
        flex-direction: column;
        align-items: center;
    }

    .bookshelf_card {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .bookshelf_card img {
        max-height: 150px;
    }

    .bookshelf_card button {
        padding: 8px 16px;
    }

    .book_info {
        font-size: 0.9em;
    }
}
